.color-priority-urgent {
    color:red;
    font-weight: 900;
    font-size:1.6em;
}

.color-priority-hazard {
    color:magenta;
    font-weight: 700;
    font-size: 1.3em;
}
/* commit trigger 2*/
.color-priority-focal {
    color:black;
    font-weight: 600;
    font-size: 1.2em;
}

.color-priority-context {
    color:#333;
    font-weight: 400;
    font-size: 1em;
}

.color-priority-symbols {
    color:darkcyan;
    font-weight: 300;
    font-size:.9em;
}

.color-priority-aux {
    color:darkgoldenrod;
    font-weight: 200;
    font-size:.7em;
}

.color-back-canvas {
    background-color:white
}

.color-back-panel {
    background-color:#eeeeee
}

