@import url("./fonts.css");
@import url("./colors.css");

BODY {
    font-family: plexscl;
}

INPUT {
    font-family: plexscl;
}

INPUT[type="text"] {
    margin: 0;
}

FIELDSET {
    border:0px;
}


#keykeypair {    
    clear:left;
    height: 3em;
    vertical-align: middle;
    word-wrap: normal;
}

#jsonobjects {
    border-width: 0 2px 0 2px;
    box-shadow: 4px 4px 9px black;
    border-color: black;
    border-style: solid;
    margin: 20px auto 20px auto;
    width: 960px;
}

#prefixfs{
    width:100%;
    height:2em;
    border:0px;

}

#jsonmapping {
    clear: left;
    width: 96%;
    height: 10em;
}


#overridekb:checked {
    color:red;    
}

.br {
    clear: left;
    height:auto;
}

.div-list {
    width: 48%;
    word-wrap:normal;
    
    text-align: left;
}

.block-inline {
    float:left;
    height:25em;
}
.float-container {
    position:static;
}
.tab-container {
    clear:left;
    float:left;
    height: auto;
    width:80%;
}

.tabbedcontainer {
    position: static;
    border-color: red;
    border-width: 1px;
    overflow:scroll;
}


.tabbutton {
    display:block;
    float:left;
    width: 40%;
    border-width:1px 0px 0 1px;
    border-style:solid;
    cursor:pointer;
}

.tabbutton:hover {
    
}

.dommedjson {
    float:left;
    height:100%;
}


.jkey {
    cursor:default;
    width:100%;
    display:block;
}
.jval {
    
}
.jkey:hover {

}

