#jsonleftlist, #jsonrightlist {
    font-family: 'IBM Flex Mono', 'SF Mono', 'Roboto Mono', monospace;
    width: 100%;
    overflow:scroll;
    word-wrap:normal;
    height:25em;
    text-align: left;
}

div#inputjson-tabs {
    clear:left;
    float:left;
    
    height: auto;
    width:80%;
}




#pageheader {
    clear:left;
    height: 2em;
}
div#keykeypair {
    
    clear:left;
    width: 84%;
    height: 3em;
    font-family: monospace;
    font-size: 1.9em;
    background-color: #dfeff3;
    border: 1px black solid;
    border-radius: 2em;
    text-align: center;
    vertical-align: middle;
}

div#keykeypair:first-line {
    vertical-align: middle;
}

form#jsonobjects {
    margin: 20px auto 20px auto;
    width: 80%;
}
form#jsonobjects  fieldset {
    font-family: 'Consolas', 'Roboto Mono', monospace;
    float:left;
    width:40%;
    height:25em;
    padding:1%;
    border-radius: .5em;
    margin:0;
    text-align: center;
}

form#jsonobjects  fieldset.br {
    clear: left;
    width:82%;
    height:auto;
}

form#jsonobjects fieldset textarea {
    width:92%;
    height:25em;
    margin:0em;
    padding:1em;
    font-size:1.2em;
    border-radius: .5em;
}

textarea#jsonmapping {
    clear: left;
    width: 40%;
    height: 10em;
}

button#parsesrcjson, button#mapjson {
    clear: left;
    width: 40%;
    margin: 1em;
    border:0px;
    padding: 1em;
    font-size: 1.3em;
    font-family:'New York Light', 'Roboto', serif;
}

div.tabbedcontainer {
    width: 99%;
    height:25em;
    border-color: red;
    border-width: 1px;
    overflow:hidden;
}


DIV.tabbutton {
    display:block;
    float:left;
    width: 40%;
    background-color:#dfeff3;
    border-width:1px 0px 0 1px;
    border-color:black ;
    border-style:solid;
    border-radius: 0.7em 0 0 0.0em;
    padding:.5em;
    cursor:pointer;
    font-family: 'Candara', 'IBM Plex Sans Condensed', 'SF Pro Display', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
}
.dommedjson {
    float:left;
    width:40%;
    height:auto;
}


.jkey {
    margin-left: 1em;
    cursor:default
}
.jval {
    margin-left: 1em;
    margin-right: 1em;
    
}
.jkey:hover {
    border: 1px black solid;
}

